<div>
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile [colspan]="1" rowspan="1">
      <router-outlet name="contact-widget"></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" rowspan="1">
      <router-outlet name="sales-widget"></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" rowspan="1">
      <router-outlet name="address-widget"></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" rowspan="1">
      <router-outlet name="person-widget"></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" rowspan="1">
      <router-outlet name="user-widget"></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" rowspan="1">
      <router-outlet name="invoice-widget"></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" rowspan="1">
      <router-outlet name="contact-list-widget"></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" rowspan="1">
      <router-outlet name="contract-widget"></router-outlet>
    </mat-grid-tile>
  </mat-grid-list>
</div>
