:host {
  display: block;
  height: 100%;
}

.ui-dashboard-contact-list-widget-card {
  height: inherit;
}

.ui-dashboard-contact-list-widget-mat-list {
  max-height: 400px;
  overflow: auto;

  &-item {
    &:hover {
      background-color: grey;
      border-color: currentColor;
      cursor: pointer;
    }
  }
}
