:host {
  display: block;
}

.ui-sales-table-invoice {
  width: 100%;
  table-layout: auto;
}

tr.ui-sales-table-invoice-row {
  cursor: pointer;

  &:hover {
    border-top: 1px solid;
    background-color: grey;
    border-color: currentColor;
  }
}

/**
 TODO: Store the color-value as a custom css property and load it here.
*/
.ui-sales-table-invoice-row-selected {
  background-color: #616161;
}
